@keyframes bounceInDown
  from, 30%, 60%, to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

  0%
    opacity: 0;
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);

  10%
    opacity: 1;

  30%
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);

  60%
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);

  to
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

.bounceInDown
  -webkit-animation: bounceInDown .7s
  animation: bounceInDown .7s

@keyframes bounceOutUp
  20%
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);

  40%, 45%
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);

  to
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);

.bounceOutUp
  -webkit-animation: bounceOutUp .7s
  animation: bounceOutUp .7s

@keyframes shake
  from, to
    transform: translate3d(0, 0, 0)

  10%, 30%, 50%, 70%, 90%
    transform: translate3d(-10px, 0, 0)

  20%, 40%, 60%, 80%
    transform: translate3d(10px, 0, 0)

.shake
  animation: shake .7s