// Import custom icon font
@font-face
  font-family 'barbershop-icons'
  src    url('../fonts/fontello.eot?82242897')
  src    url('../fonts/fontello.eot?82242897#iefix') format('embedded-opentype'),
          url('../fonts/fontello.woff?82242897') format('truetype'),
          url('../fonts/fontello.ttf?82242897') format('woff'),
          url('../fonts/fontello.svg?82242897#fontello') format('svg')
  font-weight normal
  font-style normal
