// Resolution of portrait devices
mq-mobile = '320px'
mq-tablet = '768px'
mq-desktop = '1024px'

// Resolution of landscape devices
mq-mobile-landscape = '480px'
mq-tablet-landscape = '992px'
mq-desktop-wide = '1200px'