@import 'styles/preloader.styl'
@import 'styles/fonts.styl'
@import 'styles/variables.styl'
@import 'styles/normalize'
@import 'styles/jeet'
@import 'styles/rupture'
@import 'styles/base.styl'

@import 'components/main-page/main-page.styl'
@import 'components/price-page/price-page.styl'
@import 'components/shop-page/shop-page.styl'


@import 'common/nav-menu/nav-menu.styl'
@import 'common/login/login.styl'
@import 'common/modal-map/modal-map.styl'
@import 'common/footer/footer.styl'
