@import 'styles/fonts.styl'
@import 'styles/variables.styl'
@import 'styles/normalize'
@import 'styles/jeet'
@import 'styles/rupture'
@import 'styles/base.styl'

@import 'styles/pages/main-page.styl'
@import 'styles/pages/price-page.styl'


@import 'styles/nav-menu.styl'
@import 'styles/footer.styl'
