
<main class="news-page">
  <div class="index-content clearfix">
    <section class="main-content-left">
      <h2 class="main-content-title">News</h2>
      <ul class="news-preview">
        <li>Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.</li>
        <time datetime="2013-09-25">25 september</time>
        <li>
          In our team the replenishment, Boris "Razor" Strigunetz,
          winner of many titles and awards have joined our slender ranks.
        </li>
        <time datetime="2013-09-19">19 september</time>
      </ul><a href="#" class="btn">All news</a>
    </section>
    <section class="main-content-right">
      <h2 class="main-content-title">Gallery</h2>
      <div class="gallery">
        <figure class="gallery-content"><img src="assets/img/main-photo-1.jpg" width="286" height="164" alt=""/></figure>
        <button class="btn gallery-prev">Previous</button>
        <button class="btn gallery-next">Next</button>
      </div>
    </section>
    <section class="main-content-left">
      <h2 class="main-content-title">News</h2>
      <ul class="news-preview">
        <li>Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.</li>
        <time datetime="2013-09-25">25 september</time>
        <li>
          In our team the replenishment, Boris "Razor" Strigunetz,
          winner of many titles and awards have joined our slender ranks.
        </li>
        <time datetime="2013-09-19">19 september</time>
      </ul><a href="#" class="btn">All news</a>
    </section>
    <section class="main-content-right">
      <h2 class="main-content-title">Gallery</h2>
      <div class="gallery">
        <figure class="gallery-content"><img src="assets/img/main-photo-1.jpg" width="286" height="164" alt=""/></figure>
        <button class="btn gallery-prev">Previous</button>
        <button class="btn gallery-next">Next</button>
      </div>
    </section>
    <section class="main-content-left">
      <h2 class="main-content-title">News</h2>
      <ul class="news-preview">
        <li>Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.</li>
        <time datetime="2013-09-25">25 september</time>
        <li>
          In our team the replenishment, Boris "Razor" Strigunetz,
          winner of many titles and awards have joined our slender ranks.
        </li>
        <time datetime="2013-09-19">19 september</time>
      </ul><a href="#" class="btn">All news</a>
    </section>
    <section class="main-content-right">
      <h2 class="main-content-title">Gallery</h2>
      <div class="gallery">
        <figure class="gallery-content"><img src="assets/img/main-photo-1.jpg" width="286" height="164" alt=""/></figure>
        <button class="btn gallery-prev">Previous</button>
        <button class="btn gallery-next">Next</button>
      </div>
    </section>
    <section class="main-content-left">
      <h2 class="main-content-title">News</h2>
      <ul class="news-preview">
        <li>Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.</li>
        <time datetime="2013-09-25">25 september</time>
        <li>
          In our team the replenishment, Boris "Razor" Strigunetz,
          winner of many titles and awards have joined our slender ranks.
        </li>
        <time datetime="2013-09-19">19 september</time>
      </ul><a href="#" class="btn">All news</a>
    </section>
    <section class="main-content-right">
      <h2 class="main-content-title">Gallery</h2>
      <div class="gallery">
        <figure class="gallery-content"><img src="assets/img/main-photo-1.jpg" width="286" height="164" alt=""/></figure>
        <button class="btn gallery-prev">Previous</button>
        <button class="btn gallery-next">Next</button>
      </div>
    </section>
    <section class="main-content-left">
      <h2 class="main-content-title">News</h2>
      <ul class="news-preview">
        <li>Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.</li>
        <time datetime="2013-09-25">25 september</time>
        <li>
          In our team the replenishment, Boris "Razor" Strigunetz,
          winner of many titles and awards have joined our slender ranks.
        </li>
        <time datetime="2013-09-19">19 september</time>
      </ul><a href="#" class="btn">All news</a>
    </section>
    <section class="main-content-right">
      <h2 class="main-content-title">Gallery</h2>
      <div class="gallery">
        <figure class="gallery-content"><img src="assets/img/main-photo-1.jpg" width="286" height="164" alt=""/></figure>
        <button class="btn gallery-prev">Previous</button>
        <button class="btn gallery-next">Next</button>
      </div>
    </section>
  </div>
</main>