
<div class="pages shop-page-item">
  <div class="index-content clearfix">
    <section class="content-title">
      <h1>Travel Set «Baxter of California»</h1>
      <ul class="breadcrumbs">
        <li><a ui-sref="main">Main</a></li>
        <li><a ui-sref="shop">Shop</a></li>
        <li><a ui-sref="shop">Means for care</a></li>
        <li class="current">Travel Set "Baxter of California"</li>
      </ul>
    </section>
    <section class="inner-content">
      <div class="content-left clearfix">
        <div class="big-photo"><img src="assets/img/travel-set-baxter-of-california-big.jpg" width="460" height="498"/></div>
        <div class="thumbs"><img src="assets/img/travel-set-baxter-of-california-big-thumb-1.jpg" width="140" height="149"/></div>
        <div class="thumbs"><img src="assets/img/travel-set-baxter-of-california-big-thumb-2.jpg" width="140" height="149"/></div>
        <div class="thumbs"><img src="assets/img/travel-set-baxter-of-california-big-thumb-3.jpg" width="140" height="149"/></div>
      </div>
      <div class="content-right clearfix">
        <div class="article">Article Dexter-AE</div>
        <p class="availability">Is Available</p>
        <p class="item-description">
          Travel Kit - necessary accessory during any travel.
          In a neat leather bag is all you need for shaving and skincare during a working trip or holiday:
          cleanser, moisturizing cream, shaving cream, aftershave cream, shampoo.
          The kit can also be a great gift.
        </p>
        <div class="purchase-block"><span>{{ 40 | currency }}</span>
          <button class="btn">Buy</button>
        </div>
        <div class="item-description-title">The kit includes:</div>
        <ul class="kit-elements">
          <li>Cleanser (50ml)</li>
          <li>Moisturizing cream (50ml)</li>
          <li>Shaving cream (50ml)</li>
          <li>Shaving foam, shampoo (50ml)</li>
          <li>Comfortable leather cosmetic bag</li>
        </ul>
      </div>
    </section>
  </div>
</div>