
<div data-ng-controller="navMenuController as nmc" class="nav-wrap">
  <nav class="main-navigation">
    <div class="logo"><a ui-sref="main"><img src="assets/img/logo.png" width="111" height="24" alt="Barbershop BORODINSKI"/></a></div>
    <ul>
      <li ui-sref-active="active"><a ui-sref="info">Information</a></li>
      <li ui-sref-active="active"><a ui-sref="news">News</a></li>
      <li ui-sref-active="active"><a ui-sref="price">Price</a></li>
      <li ui-sref-active="active"><a ui-sref="shop">Shop</a></li>
      <li ui-sref-active="active"><a ui-sref="contact">Contacts</a></li>
    </ul>
    <div class="user-block">
      <button type="button" ng-click="ac.loginToggle()" class="login">Login</button>
      <!--button.c-hamburger.c-hamburger--htx(data-ng-class=" { 'is-active': nmc.menuIcon } " data-ng-click='nmc.menuIcon = !nmc.menuIcon')-->
      <!--    span Toggle menu-->
    </div>
  </nav>
</div>