.modal-content-map
  position: fixed
  top: 50%
  left: 50%
  z-index: 15
  display: none

  width: 766px
  height: 561px
  margin-top: -280px
  margin-left: -390px

  background: #e9e5dc
  border 7px solid #fff
  box-shadow 0 30px 50px rgba(0,0,0,0.7)
  yandex-map
    display: block
    width: 766px
    height: 561px
    .map-baloon
      padding: 20px
      padding-right: 10px
      padding-left: 30px
      text-align: center
      text-transform none