
<div class="pages contact-page">
  <div class="index-content clearfix">
    <section class="content-title">
      <h1>Contacts</h1>
      <ul class="breadcrumbs">
        <li><a ui-sref="main">Main</a></li>
        <li class="current">Price</li>
      </ul>
    </section>
    <section class="inner-content">
      <div class="big-heading">
        <h2>Truly man's classic</h2>
      </div>
      <div class="inner-coloums clearfix">
        <div class="content-left">
          <h2>We use only the best shaving tools:</h2>
          <ul class="custom-list-1">
            <li>Baxter of California</li>
            <li>Mr Natty</li>
            <li>Suavecito</li>
            <li>Malin+Goetz</li>
          </ul>
        </div>
        <div class="content-right">
          <h2>The prices for the services of our masters:</h2>
          <table class="prices-table">
            <tr>
              <td>Haircut</td>
              <td>{{ 25 | currency }}</td>
            </tr>
            <tr>
              <td>Beard hairstyle</td>
              <td>{{ 10 | currency }}</td>
            </tr>
            <tr>
              <td>Twist of mustache</td>
              <td>{{ 5 | currency }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="inner-coloums clearfix">
        <h2>Few word about us:</h2>
        <div class="content-left">
          <p>
            Our barbershop is engaged exclusively in men's haircuts. Haircutting each client for us - it's a unique
            and well thought out to the smallest detail work. We don't work for quantity, we do quality.
          </p>
        </div>
        <div class="content-right">
          <p>
            Our barbershop is located in the downtown, therefore it is possible to make a stylish hairstyle at any time,
            even in a lunch break. Here you can plunge into the atmosphere, convenient for you, to feel comfortable
            and freely!
          </p>
        </div>
      </div>
    </section>
  </div>
</div>