
<div class="modal-content">
  <button type="button" title="Close" class="modal-content-close">Close</button>
  <h2 class="modal-content-title">Personal account</h2>
  <p>Enter your login and password</p>
  <form name="loginForm" class="login-form">
    <div class="icon-user">
      <input type="text" name="login" placeholder="Login"/>
    </div>
    <div class="icon-password">
      <input type="password" name="password" placeholder="Password"/>
    </div>
    <label class="login-checkbox">
      <input type="checkbox" name="remember"/><span class="checkbox-indicator"></span>Remember me
    </label><a href="#" class="restore">Forgot password?</a>
    <button type="submit" class="btn">Login</button>
  </form>
</div>