
<div class="main-page">
  <div class="main-logo"><img src="assets/img/main-logo.png" width="368" height="204" alt="Barbershop online market"/></div>
  <section class="features clearfix">
    <div class="features-item">
      <div class="features-title">Fast</div>
      <p>We do our job very quickly! Two hours fly by insensibly and you - happy owner of a stylish haircut-minute!</p>
    </div>
    <div class="features-item">
      <div class="features-title">Cool</div>
      <p>
        Forget how you cut your hair for a while before. We will make you the star of the football or a movie!
        In any case externally.
      </p>
    </div>
    <div class="features-item">
      <div class="features-title">Expensive</div>
      <p>
        Our masters - professionals in their field and they can not be cheap.
        In addition, the price does not give a certain status?
      </p>
    </div>
  </section>
  <div class="index-content clearfix">
    <section class="content-left">
      <h2 class="main-content-title">News</h2>
      <ul class="news-preview">
        <li>
          <p>Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.</p>
          <time datetime="2013-09-25">25 september</time>
        </li>
        <li>
          <p>
            In our team the replenishment, Boris "Razor" Strigunetz,
            winner of many titles and awards have joined our slender ranks.
          </p>
          <time datetime="2013-09-19">19 september</time>
        </li>
      </ul><a href="#" class="btn">All news</a>
    </section>
    <section class="content-right">
      <h2 class="main-content-title">Gallery</h2>
      <div class="gallery">
        <figure class="gallery-content"><img src="assets/img/main-photo-1.jpg" width="286" height="164" alt=""/></figure>
        <button class="btn gallery-prev">Previous</button>
        <button class="btn gallery-next">Next</button>
      </div>
    </section>
  </div>
  <div class="index-content clearfix">
    <section class="content-left">
      <div class="main-contacts">
        <h2 class="main-content-title">Contact information</h2>
        <p>Barbershop online market<br/>Address: Saint-Peterburg, B. Konyushennaya, h. 19/8<br/>Phone: +7 (495) 777-55-99</p>
        <p>Work time:<br/>Mon - Fri: 10:00 AM - 10:00 PM<br/>Sat - Sun: 10:00 AM - 07:00 PM</p><a href="#" class="btn open-map">How to reach</a><a href="#" class="btn">Feedback</a>
      </div>
    </section>
    <section class="content-right">
      <div class="appointment-form">
        <h2 class="main-content-title">Enroll</h2>
        <p>Please enter the desirable date and time and we will contact you to confirm your booking</p>
        <form action="/echo" method="post">
          <input type="text" name="date" value="" placeholder="Date"/>
          <input type="text" name="time" value="" placeholder="Time"/>
          <input type="text" name="name" value="" placeholder="Your name"/>
          <input type="tel" name="phone" value="" placeholder="Your phone"/>
          <button type="submit" class="btn">Enroll now</button>
        </form>
      </div>
    </section>
  </div>
</div>