
<div class="pages shop-page">
  <div class="index-content clearfix">
    <section class="content-title">
      <h1>Shop</h1>
      <ul class="breadcrumbs">
        <li><a ui-sref="main">Main</a></li>
        <li><a ui-sref="main">Shop</a></li>
        <li class="current">Means for care</li>
      </ul>
    </section>
    <section class="inner-content">
      <div class="content-left filter-container">
        <form name="filters">
          <fieldset class="manufacturers">
            <legend>Manufacturers:</legend>
            <ul>
              <li data-ng-repeat="manufacturer in spc.manufacturers">
                <input type="checkbox" name="manufacturer" data-ng-checked="manufacturer.checked" id="manufacturer-{{ manufacturer.id }}"/>
                <label for="manufacturer-{{ manufacturer.id }}">{{ manufacturer.name }}</label>
              </li>
            </ul>
          </fieldset>
          <fieldset class="goods-groups">
            <legend>Goods groups:</legend>
            <ul>
              <li data-ng-repeat="group in spc.goodsGroups">
                <input type="radio" name="goodsGroup" data-ng-checked="group.checked" id="group-{{ group.id }}"/>
                <label for="group-{{ group.id }}">{{ group.name }}</label>
              </li>
            </ul>
          </fieldset>
          <button type="submit" class="btn">Show</button>
        </form>
      </div>
      <div class="content-right goods">{{ spc.filters }}
        <div class="goods-container clearfix">
          <div data-ng-repeat="item in spc.goods" class="goods-item"><a href="javascript:void(0);"><img data-ng-src="{{item.image}}"/></a>
            <h2>{{ item.category }}<span>{{ item.name }}</span></h2>
            <div class="purchase-block"><span class="price">{{ item.price | currency }}</span>
              <button class="btn">Buy</button>
            </div>
          </div>
        </div>
        <div class="goods-pagination">
          <button class="btn">1</button>
          <button class="btn pagination-current">2</button>
          <button class="btn">3</button>
          <button class="btn">4</button>
        </div>
      </div>
    </section>
  </div>
</div>