
<section class="footer-contacts">Barbershop «BORODINSKI»<br/>Address: Saint-Peterburg, B. Konyushennaya, h. 19/8<br/><a href="#">How to find us</a><br/>Phone: +7 (495) 777-55-99</section>
<section class="footer-social">
  <p>Let's be a friends!</p><a href="#" class="social-btn social-btn-vk"></a><a href="#" class="social-btn social-btn-fb"></a><a href="#" class="social-btn social-btn-inst"></a>
</section>
<section class="footer-copyright">
  <p>Designed:</p><a href="http://htmlacademy.ru" target="blank" class="btn">HTMLAcademy.ru</a>
</section>