.shop-page-item
  .content-left
    width: 460px;
    padding-right: 0
    .big-photo
      margin-bottom: 20px
      width: 460px
      height: 498px
      box-shadow: 0 0 20px rgba(0,0,0,.2)
      img
        width: 460px
        height: 498px
    .thumbs
      float: left
      margin-right: 20px
      width: 140px
      height: 149px
      box-shadow: 0 0 20px rgba(0,0,0,.2)
      &:last-child
        margin-right: 0
      img
        width: 140px
        height: 149px

  .content-right
    width: 390px
    .article
      float: right
      max-width: 200px
      color: #b3b3b3
    p, p.availability, p.item-description
      margin-top: 0
      margin-bottom: 35px
    .purchase-block
      text-align: center
      background-color: #e5e5e5
      margin-bottom: 65px
      width: 160px
      span
        display: inline-block
        padding-top: 10px
        padding-bottom: 10px
      button
        float: right
    .item-description-title
      margin-bottom: 30px
      font-size: 24px
      line-height: 34px
    .kit-elements
      list-style: none
      margin-top: 0
      margin-bottom: 0
      padding-left: 0
      li
        position: relative
        margin-bottom: 5px
        padding-left: 20px
        &:before
          content: ""
          position: absolute
          left: 0
          top: 50%
          margin-top: -4px
          width: 8px
          height: 8px
          background-color: #000
          transform: rotate(45deg)