.pages.shop-page-item
  .index-content.clearfix
    section.content-title
      h1 Travel Set «Baxter of California»
      ul.breadcrumbs
        li
          a(ui-sref='main') Main
        li
          a(ui-sref='shop') Shop
        li
          a(ui-sref='shop') Means for care
        li.current Travel Set "Baxter of California"
    section.inner-content
      .content-left.clearfix
        .big-photo
          img(src='assets/img/travel-set-baxter-of-california-big.jpg' width='460' height='498')
        .thumbs
          img(src='assets/img/travel-set-baxter-of-california-big-thumb-1.jpg' width='140' height='149')
        .thumbs
          img(src='assets/img/travel-set-baxter-of-california-big-thumb-2.jpg' width='140' height='149')
        .thumbs
          img(src='assets/img/travel-set-baxter-of-california-big-thumb-3.jpg' width='140' height='149')
      .content-right.clearfix
        .article Article Dexter-AE
        p.availability Is Available
        p.item-description.
          Travel Kit - necessary accessory during any travel.
          In a neat leather bag is all you need for shaving and skincare during a working trip or holiday:
          cleanser, moisturizing cream, shaving cream, aftershave cream, shampoo.
          The kit can also be a great gift.
        .purchase-block
          span {{ 40 | currency }}
          button.btn Buy
        .item-description-title The kit includes:
        ul.kit-elements
          li Cleanser (50ml)
          li Moisturizing cream (50ml)
          li Shaving cream (50ml)
          li Shaving foam, shampoo (50ml)
          li Comfortable leather cosmetic bag

