section.footer-contacts
    | Barbershop «BORODINSKI»
    br
    | Address: Saint-Peterburg, B. Konyushennaya, h. 19/8
    br
    a(href='#') How to find us
    br
    | Phone: +7 (495) 777-55-99
section.footer-social
    p Let's be a friends!
    a(href='#').social-btn.social-btn-vk
    a(href='#').social-btn.social-btn-fb
    a(href='#').social-btn.social-btn-inst
section.footer-copyright
    p Designed:
    a(href='http://htmlacademy.ru' target='blank').btn HTMLAcademy.ru