.contact-page
    .index-content.clearfix
        section.main-content-left
            h2.main-content-title Contacts
            ul.news-preview
                li Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.
                time(datetime='2013-09-25') 25 september
                li In our team the replenishment, Boris "Razor" Strigunetz,
                    | winner of many titles and awards have joined our slender ranks.
                time(datetime='2013-09-19') 19 september
            a(href='#').btn All news
        section.main-content-right
            h2.main-content-title Gallery
            .gallery
                figure.gallery-content
                    img(src='assets/img/main-photo-1.jpg' width='286' height='164' alt='')
                button.btn.gallery-prev Previous
                button.btn.gallery-next Next
        section.main-content-left
            h2.main-content-title News
            ul.news-preview
                li Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.
                time(datetime='2013-09-25') 25 september
                li In our team the replenishment, Boris "Razor" Strigunetz,
                    | winner of many titles and awards have joined our slender ranks.
                time(datetime='2013-09-19') 19 september
            a(href='#').btn All news
        section.main-content-right
            h2.main-content-title Gallery
            .gallery
                figure.gallery-content
                    img(src='assets/img/main-photo-1.jpg' width='286' height='164' alt='')
                button.btn.gallery-prev Previous
                button.btn.gallery-next Next
        section.main-content-left
            h2.main-content-title News
            ul.news-preview
                li Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.
                time(datetime='2013-09-25') 25 september
                li In our team the replenishment, Boris "Razor" Strigunetz,
                    | winner of many titles and awards have joined our slender ranks.
                time(datetime='2013-09-19') 19 september
            a(href='#').btn All news
        section.main-content-right
            h2.main-content-title Gallery
            .gallery
                figure.gallery-content
                    img(src='assets/img/main-photo-1.jpg' width='286' height='164' alt='')
                button.btn.gallery-prev Previous
                button.btn.gallery-next Next
        section.main-content-left
            h2.main-content-title News
            ul.news-preview
                li Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.
                time(datetime='2013-09-25') 25 september
                li In our team the replenishment, Boris "Razor" Strigunetz,
                    | winner of many titles and awards have joined our slender ranks.
                time(datetime='2013-09-19') 19 september
            a(href='#').btn All news
        section.main-content-right
            h2.main-content-title Gallery
            .gallery
                figure.gallery-content
                    img(src='assets/img/main-photo-1.jpg' width='286' height='164' alt='')
                button.btn.gallery-prev Previous
                button.btn.gallery-next Next
        section.main-content-left
            h2.main-content-title News
            ul.news-preview
                li Finally brought to us Yagermaister! Now you can enjoy a drink during the haircut.
                time(datetime='2013-09-25') 25 september
                li In our team the replenishment, Boris "Razor" Strigunetz,
                    | winner of many titles and awards have joined our slender ranks.
                time(datetime='2013-09-19') 19 september
            a(href='#').btn All news
        section.main-content-right
            h2.main-content-title Gallery
            .gallery
                figure.gallery-content
                    img(src='assets/img/main-photo-1.jpg' width='286' height='164' alt='')
                button.btn.gallery-prev Previous
                button.btn.gallery-next Next